* {
    padding: 0;
    margin: 0;
}

a {    
    text-decoration: none;
    color: #F7F7F7;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 48px;
    line-height: 72px;
}

body {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    color: #fff;
}

button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    color: #fff;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* hero styles start */

.hero {
    height: 779px;
    margin: 0 auto;
    background: #02160b url(assets/img/bcg-hero.png) center no-repeat;    
}

/* header styles start */
.header__wrapper {
    padding-top: 5px;
    line-height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__logo-ico {
    padding-top: 13px;
}

.header__title {
    font-family: 'Roboto';
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
    padding-left: 15px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    justify-content: space-between;
}

.header__list-item {
    
    padding-right: 65px;
}

.header__list-item:last-child{
    padding-right: 0;
}

.header__button {
    width: 120px;
    height: 50px;
    background: none;
    border: 2px solid #CD6326;
    box-sizing: border-box;
    border-radius: 5px;
}

.header__button:hover {
    background: #E39128;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__button:active {
    background: #8F5613;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* header styles end */

/* survival styles start */

.survival {
    padding-top: 103px;
}

.survival__title {
    letter-spacing: 2px;
    color: #CD6326;
    line-height: 72px;

}

.survival__donate {
    width: 274px;
    font-size: 18px;
    line-height: 27px;
    color: #F7F7F7;
}

.survival__donate-btn {
    width: 160px;
    height: 60px;
    left: 120px;
    top: 479px;
    background: #CD6326;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.survival__donate-btn:hover {
    background: #E39128;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.survival__donate-btn:active {
    background: #8F5613;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* survival styles end */

/* hero styles end */

